<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="UriServer" value="http://XXX/Fichiers/"/>
		<add key="cnx" value="Application Name=24h;user id=sa;data source=149.202.191.207,8889\SQLExpress;persist security info=False;initial catalog=24H;password=dev;"/>
	</appSettings>
</configuration>